<html>
<head>
  <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">
  <meta name="google-site-verification" content="_aVZalZwpq82euVwMqLPjehAOadf46QCqWuDqIgnkGY" />
</head>
<body>
  <div class="container">
  <%= yield %>
  </div>
</body>
</html>

