<div class="hero-unit">
  <h1> mobile imap2 ログイン</h1>
</div>

<form action="/login" method="post">
  <fieldset>
    <legend>ログイン</legend>
    <div class="clearfix">
      <label for="address">アドレス</label>
      <div class="input">
        <input class="xlarge" id="address" name="address" type="text" size=30 />
      </div>
    </div>
    <div class="clearfix">
      <label for="password">パスワード</label>
      <div class="input">
        <input class="xlarge" id="password" name="password" type="password" size=30 />
      </div>
    </div>
    <div class="actions">
      <input type="submit" class="btn primary" value="ログイン" />
    </div>
  </fieldset>
</form>


